.stApp {
  background-image: url('cancer_fond2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: #2c3e50;
}

.custom-container {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border: 3px solid #1e90ff; /* Bordure bleue */
}

.welcome-message {
  color: #1e90ff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
}

.footer {
  color: #ffffff;
  background-color: #1e90ff;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  bottom: 0;
  font-family: 'Poppins', sans-serif;
}